body{
    padding-top: 2em;
    /* for smooth animation 1920x1080 */
    padding-bottom : 60em;
}

#container{
    background-color: white;
    padding: 0em 0 15em 0;

}

#background-gray{
    z-index:1;
    width:100%;
    position: absolute;
    top: -2em;
    left: 0;
}

.marge-hight{
    margin-top: -124em;
}

.marge-initial{
    margin-top: 0em;
}

#papyrus{
    width:100%;
    margin-left: 0%;
    margin-top: -2em;
}

#papyrus:hover, #papyrus-vert:hover{
    cursor: pointer;
}

#papyrus-vert{
    z-index:2;
    width:100%;
    position: absolute;
    top: 1em;
    left: 0;
}

@keyframes marge-anim {
    from {margin-top: -124em;}
    to {margin-top: 0em;}
}

.animation-marge{
    animation-name: marge-anim;
    animation-duration: 1.2s;
}

@keyframes marge-anim-enrouler {
    from {margin-top: 0em;}
    to {margin-top: -124em;}
}

.animation-marge2{
    animation-name: marge-anim-enrouler;
    animation-duration: 1.2s;
}

@keyframes rotation {
    from {transform: rotateY(180deg);}
    to {transform: rotateY(0deg);}
    from {opacity: 0;}
    to {opacity: 1;}
}

.animation{
    backface-visibility: hidden;
    animation-name: rotation;
    animation-duration: 2s;
}

@keyframes rotation-inverse {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
    from {opacity: 1;}
    to {opacity: 0;}
}

.animation-rotation-inverse{
    backface-visibility: hidden;
    animation-name: rotation-inverse;
    animation-duration: 1s;
}

/* ------- titre nom ------- */

#title-background{
    z-index: 1;
    width: 100%;
    height: 500px;
    background: url('assets/pictures/background.png');
}

#picture{
    z-index: 2;
    width: 22%;
    margin: 10em 1em 0 5em;
}

.opacity{
    opacity: 0;
}

#name {
    z-index: 2;
    font-size: 6em;
    color: white;
    margin-top: 1.8em;
}

#job {
    z-index: 2;
    font-size: 5em;
    color: white;
}

/* -----  article ----- */

.art-title{
    font-size: 3em;
    color : rgb( 150,150,150);
}

.art-p{
    font-size: 2em;
    color : rgb( 150,150,150);
}

.pre-line {
    white-space: pre-line;
    line-height: 31px;
}

.margin-plus{
    margin-top : 3%;
}

.margin-moins{
    margin-top : -3%;
}

/* -----  skills ----- */

.article-skills{
    margin-top: 2em;
    padding-left: 1em;
}

/* -----  training ----- */

.article-training{
    padding-left: 5em;
    margin-top: -2em;
}

/* -----  profile ----- */

.text-p{
    line-height: 32px;
    width: 90%;
}

/* -----  contact ----- */

.article-contact {
    margin-top: -17.8em;
}

/* -----  tooltip ----- */

.tooltips{
    display: none;
    border: 8px dotted green;
    background-color:rgb(240, 240, 240);
    width: 60%;
    padding: 1.5em;
    font-size: 1.5em;
    z-index: 3;
}

/* ------------------------------------
----------- media queries ----------
------------------------------------ */


@media(max-width:1600px){

.marge-hight{
    margin-top: -120em;
}

}

@media(max-width:1200px){

.marge-hight{
    margin-top: -140em;
}

#picture{
    z-index: 2;
    width: 20%;
    margin: 10em 1em 0 5em;
}

#name {
    z-index: 2;
    font-size: 5em;
    color: white;
    margin-top: 2em;
}

#job {
    z-index: 2;
    font-size: 4em;
    color: white;
}

}

@media(max-width:991px){

.art-p{
    font-size: 1.5em;
    color : rgb( 150,150,150);
}

.marge-hight{
    margin-top: -200em;
}

#picture{
    width: 30%;
    margin: 6em 1em 0 5em;
}

#name {
    font-size: 3em;
    color: white;
    margin-top: 3em;
}

#job {
    font-size: 2.5em;
    color: white;
}

.pre-line {
    white-space: pre-line;
    line-height: 38px;
}

.margin-moins{
    margin-top : 0%;
}

.article-training{
    margin-top: 0em;
}

.article-contact {
    margin-top: 0em;
}

.art-title{
    margin-top: 1em;
}
}

@media(max-width:768px){

#container{
    width:94%;
    margin-left: 2.5%
}

#background-gray{
    z-index:1;
    width:100%;
    position: absolute;
    top: 0em;
    left: 0;
}

#picture{
    width: 35%;
    margin: 6em 0 0 31%;
}

#name {
    font-size: 2.5em;
    color: white;
    margin: 1em 0 0 1em;;
}

#job {
    font-size: 2.5em;
    color: white;
}
}

@media(max-width:560px){
    .marge-hight{
        margin-top: -210em;
    }
}

@media(max-width:480px){
    .marge-hight{
        margin-top: -220em;
    }
}

@media(max-width:425px){
    .marge-hight{
        margin-top: -229em;
    }
}

@media(max-width:375px){
    .marge-hight{
        margin-top: -238em;
    }
}

@media(min-width:2000px){
    .marge-hight{
        margin-top: -120em;
    }
    #background-gray{
        position: absolute;
        top: -5em;
        left: 0;
    }
    #container{
        padding: 6.75em 0 15em 0;
    
    }
}